
.container {
    max-width: 1400vh;
}

main {
    overflow: hidden;
}


section {
    background-color: #FFFFFF;
}

.section__container {
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    gap:.5rem; 
    height: 60vh;
    align-items: center;
    padding-block: 4rem;
    padding-inline: 4rem;
    position: relative !important;
    border-bottom: 4px solid grey ;
}  

.section__avatar {
    background-image: url("../img/winter.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

} 

.esmael__img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    outline: 20px solid hsla(229, 100%, 59%, 4);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 40%;
    bottom: -40%;
    background-color: transparent;
    opacity: 12px;

} 

.esmael__img::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: blueviolet;
    box-shadow:30px 30px 30px blueviolet;
    border: 1px solid black;
    animation:earth 6s linear infinite ;
 }

.esmael__img::after{
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: orange; 
    box-shadow: 30px 30px 30px orangered;
    border: 1px solid black;
    animation:sun 6s linear infinite;
} 

@keyframes sun {
    0%{
        transform:rotate(0deg)
                  translate(-165px)
                  rotate(0deg);
      
      }
      100%{
        transform:rotate(-360deg)
                  translate(-165px)
                  rotate(360deg);
      }
} 

@keyframes earth {
    0%{
        transform:rotate(0deg)
                  translate(-165px)
                  rotate(0deg);
      
      }
      100%{
        transform:rotate(360deg)
                  translate(-165px)
                  rotate(-360deg);
      }

}

.esmael__img img {
    width: 200px; 
    height: 200px;
    border-radius: 50%; 
    border: 12px solid hsla(229, 100%, 59%, 4);

}

.section__quoutes {
    padding-block: 15rem; 
    padding-inline: 8rem;

} 

.author__job ,  .autohr__skills {
    font-size: 1.5rem;
    padding-top: 1rem;
}
  

.skills__container{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
}  

.skills__container img {
    padding-top: 1rem;
    width:4rem;
} 

.skills__container img:hover {
    transform: translateY(-1rem);
    transition: transform .7s; 
}

.coffe {
    padding-top: 2rem;
}

/* ################ BREAKPOITS ############ */
@media screen and (max-width:320px)
{
    .container {
        max-width:  400px;
    }
    .esmael__img {
        left: 10%;
        width: 100%;
        outline: 10px solid orange;
    } 

    .esmael__img img {
        border: 1px solid green;
    }

    .section__quoutes{
        padding-top: 15rem;
        padding-inline: .5rem; 
        
    }  

    .section__title {
        font-size: 1.5rem;
    } 

    .author__job {
        font-size: 1rem;
    }  

    blockquote{
       width: 20%;
    }

    .skills__container {
        width: 20%;
        display: flex;
        flex-wrap: wrap;
    } 
    hr {
        width: 20%;
    }

 

   

} 








@media screen and (min-width:901px) 
{
    .container {
        margin-inline: auto;
        max-width: 1800px;
    }  

    .esmael__img {
        left: 35%;
    }

    .section__description {
        padding-inline: 2rem;
        width: 100%;
    } 
    .section__quoutes{
        width:100%; 
    }

    blockquote ,hr {
        min-width: 10%;
    } 

    .skills__container {
        width: 100%;
       display: flex;
       flex-wrap: wrap;
       flex-direction: row;
    }  

    
    
} 


@media(min-width: 500px) and (max-width: 900px) {
    .container {
        max-width: 1220px;
    } 

    .section__description {
        width: 100%;
    }
    .esmael__img {
        left: 27%;
    }

    .nav__container {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
    }

    .skills__container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        column-gap: 4rem; 
        justify-content: center;
        align-items: center;
    } 
    
}

/* # fix some breakpints for small devices  */ 

@media screen and (max-width:499px) 
{
    .esmael__img {
        left: 22%;
    }
    .section__quoutes{
        padding-inline: 2rem;

    } 

    .skills__container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    } 
    .container {
        width:100%;
    }
}
