.section{
    background-image: url("../img/Days\ with\ dad.gif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 3rem;
 }
 
 .section__img {
    width: 300px;
    border-radius: 20%;
    border:20px solid rgb(57, 57, 50);   
    outline: 20px solid transparent;
    overflow: hidden;
    justify-content: center;
    align-items: center;
 }
 
 .section__header-title {
    font-family: var(--header-font);
    font-size: 4rem;
    font-weight: var(--font-weight);
    color:#f3f3f3;
     
 }
 